@use '../../styles/palette';
@use '../../styles/variables';

.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  transition: all 0.2s ease-in-out;
  font-size: variables.$font-size-base;
  font-weight: variables.$font-weight-medium;
  position: relative;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.primary {
  background-color: var(--button-primary);
  color: var(--text-white);
}

.transparent {
  background-color: transparent;
  color: var(--text-secondary);
}

.secondary {
  background-color: var(--button-secondary);
  color: var(--text-white);
}

.dotted {
  border: 1px dotted var(--text-primary);
}

.solid {
  border: 1px solid var(--text-secondary);
  border-radius: 400px;
}

.loader {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top: 2px solid currentColor;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
