@use '../../styles/palette.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.text-clickable {
  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
