$font-xSmall: 12px;
$font-small: 14px;
$font-body: 16px;
$font-medium: 20px;
$font-Large: 24px;
$font-xLarge: 34px;

$font-bold: 500;
$font-normal: 400;
$font-bolder: 700;

$small-breakpoint: 768px;
$mobile-breakpoint: 480px;
$large-breakpoint: 1200px;
