@use '../../styles/mixins';
@use '../../styles/variables.scss' as *;

.hero {
  min-height: 700px;
  background: var(--hero-gradient-color);
  padding-top: 150px;

  .hero-main {
    @include mixins.flex-center;
    width: 100%;
    align-items: start;
    gap: 10px;
    position: relative;
  }

  .btn-box {
    @include mixins.flex-between;

    img {
      position: absolute;
      left: 20px;
    }
  }

  .red-span-text {
    color: var(--text-error);
  }

  .text-box {
    word-spacing: 1.5px;
    letter-spacing: 1.5px;
    width: 50%;

    div {
      margin-bottom: 20px;
    }
  }

  .line-decor {
    position: absolute;
    right: 0;
    bottom: -100%;
    z-index: -99;
  }

  .hero-img {
    height: 100%;
    width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    min-height: 100vh;
  }
  .hero-main {
    flex-direction: column;

    .text-box,
    .hero-img {
      width: 100%;
    }
  }

  .btn-box {
    flex-direction: column;
    width: 100%;
    button {
      width: 100%;
    }
  }
}
