@use '../../styles/mixins';
@use '../../styles/variables.scss' as *;

.hero {
  min-height: 700px;
  background: var(--hero-gradient-color);
  padding-top: 150px;

  @include mixins.mobile-only {
    min-height: auto;
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .hero-main {
    @include mixins.flex-center;
    width: 100%;
    align-items: start;
    gap: 10px;
    position: relative;

    @media screen and (max-width: $medium-breakpoint) {
      flex-direction: column;
    }
  }

  .btn-box {
    @include mixins.flex-between;
    gap: 16px;

    @media screen and (max-width: $medium-breakpoint) {
      flex-direction: column;
      width: 100%;
    }

    img {
      position: absolute;
      left: 20px;
    }

    button {
      @media screen and (max-width: $medium-breakpoint) {
        width: 100%;
      }
    }
  }

  .red-span-text {
    color: var(--text-error);
  }

  .text-box {
    word-spacing: 1.5px;
    letter-spacing: 1.5px;
    width: 50%;

    @media screen and (max-width: $medium-breakpoint) {
      width: 100%;
    }

    div {
      margin-bottom: 20px;
    }
  }

  .line-decor {
    position: absolute;
    right: 0;
    bottom: -100%;
    z-index: -99;

    @include mixins.mobile-only {
      display: none;
    }
  }

  .hero-img {
    height: 100%;
    width: 50%;

    @media screen and (max-width: $medium-breakpoint) {
      width: 100%;
    }
  }
}
