.content {
  display: flex;
  gap: 16px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }
}

.image {
  width: 449px;
  max-width: 100%;
  height: 396px;
  max-height: 100%;
}
