@use './variables.scss' as *;

@mixin responsive-font($base-size, $small-size, $mobile-size) {
  font-size: $base-size;

  @media screen and (max-width: $small-breakpoint) {
    font-size: $small-size;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: $mobile-size;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
