$color-error: #ff0000;

$text-primary: #1e1e1e;
$text-secondary: #092772;
$text-white: #ffffff;

$button-color: #0041ff;
$border-color: #d9d9d9;

$bg-primary: #ffffff;
$bg-secondary: #fafafa;

:root {
  --button-primary: #{$button-color};
  --text-error: #{$color-error};
  --text-primary: #{$text-primary};
  --text-secondary: #{$text-secondary};
  --text-white: #{$text-white};
  --bg-primary: #{$bg-primary};
  --bg-secondary: #{$bg-secondary};
  --border-default: #{$border-color};
}
