$color-error: #ff0000;

$text-primary: #1e1e1e;
$text-secondary: #092772;
$text-white: #ffffff;
$text-black: #000000;

$button-color: #0041ff;
$border-color: #d9d9d9;

$bg-primary: #ffffff;
$bg-secondary: #fafafa;
$card-bg: #f9fafb;
$footer-color: #d3dffe;

:root {
  --button-primary: #{$button-color};
  --text-error: #{$color-error};
  --text-primary: #{$text-primary};
  --text-secondary: #{$text-secondary};
  --text-white: #{$text-white};
  --text-black: #{$text-black};
  --bg-primary: #{$bg-primary};
  --bg-secondary: #{$bg-secondary};
  --border-color: #{$border-color};
  --card-bg: #{$card-bg};
  --button-color: #{$button-color};
  --hero-gradient-color: linear-gradient(
    135deg,
    rgba(128, 160, 255, 1) 0%,
    rgba(255, 255, 255, 1) 29%,
    rgba(246, 248, 255, 1) 63%,
    rgba(128, 160, 255, 1) 100%
  );
  --footer-color: #{$footer-color};
}
