@use '../../styles/variables.scss' as *;
@use '../../styles/palette.scss' as *;

.contact-container {
  min-height: 100vh;
  background-color: var(--contact-page-bg);
}

.contactMain-container {
  .contact-main {
    padding: 0 28px;
    .card-box,
    .form-main {
      flex: 1;
      margin-bottom: 100px;
    }
  }
  .card-box {
    height: 396px;
  }

  .contact-card {
    color: #ffff;
    width: 230px;

    button {
      background: none;
      border: none;
      color: $text-white;
      font-size: 14px;
      font-weight: 500;
      line-height: 26px;
    }

    .card-desc {
      color: var(--contact-secondary-color) !important;
    }
  }

  .text-box {
    div {
      margin-bottom: 15px;
    }
  }
}

.head-text-box {
  padding: 0 28px;
  .main-text {
    color: var(--contact-secondary-color) !important;
  }
}

@media screen and (max-width: 1024px) {
  .contactMain-container {
    .contact-main {
      flex-direction: column-reverse;
      flex-wrap: nowrap;
      padding: 0;

      .card-box {
        min-height: 396px;
        width: 100%;
        gap: 20px;
      }

      .form-main {
        width: 100%;
        padding: 0;
      }
    }
  }

  .head-text-box {
    padding: 0;
  }
}
