@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.footer-container {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  min-height: 334px;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-brand img {
  height: 32px;

  @include mobile-only {
    height: 24px;
  }
}

.footer-links {
  row-gap: 0.75rem;

  @include mobile-only {
    gap: 12px;
  }
}

.hr-divider {
  width: 100%;
  border-top: 1px solid var(--border-color);
  margin: 16px 0;
  opacity: 0.3;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile-only {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}

.footer-legal {
  @include mobile-only {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 42px;
  margin: 32px;
  border-radius: 16px;
  background-color: var(--footer-color);

  @include mobile-only {
    padding: 24px 16px;
    margin: 16px;
  }
}
